<h1>Meal plan for {{entry_date}}</h1>

{% if foods_to_eat %}
    <form action="#" method="post">
    {% csrf_token %}
    <ul style="list-style: none" >
    {% for item in foods_to_eat %}
        <li>
            <input type="checkbox" id="check_if_eaten" value="{{ item.id }}" />
            <label for="check_if_eaten">
                <a href="{% url 'food_list:food_detail' item.id %}">{{ item.food_text }}</a>,
                Serving size: {{ item.serving_size }},
                Number of servings: {{ item.number_of_servings }}
            </label>
        </li>
    {% endfor %}
    </ul>
    </form>
    <p>Total calories today: {{ total_cals }}</p>
{% else %}
    <p>No foods added yet.</p>
{% endif %}




    
    
